<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.tschuchort.readerforcommitstrip"
          xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".feed.FeedActivity"
            android:launchMode="singleTop">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".zoom.ZoomActivity"
            android:theme="@style/AppTheme.BlackAndWhite"
            android:parentActivityName=".feed.FeedActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tschuchort.readerforcommitstrip.feed.FeedActivity" />

        </activity>

        <activity
            android:name=".settings.SettingsActivity"
            android:parentActivityName=".feed.FeedActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tschuchort.readerforcommitstrip.feed.FeedActivity" />

        </activity>

        <service
            android:exported="false"
            android:name=".DownloadLatestComicService">

            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE"/>
            </intent-filter>
        </service>
    </application>
</manifest>